* {
  box-sizing: border-box;
}

h1 {
  font-family: 'EB Garamond', serif;
  color: #000000;
}

body {
  
  background-color: #f7f5e1;

}

p {
  padding: 10px;
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 1.2em;
}

section {
  border: 1px solid black;
  background-color:#F4F5F0;
  width: 100%;
  height: auto;
  font-family: 'EB Garamond', serif;
  color: black;
  position: relative;
  overflow: auto;
}

.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  margin-bottom: 13px;
  padding: 13px;
}

#pizza {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  padding: 7px;
  background-color: #CD212A;
  color: #F4F5F0;
}

#pasta {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  padding: 7px;
  background-color: #CD212A;
  color: #F4F5F0;
}

#wine {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #CD212A;
  color: #F4F5F0;
  padding: 7px;
}

#pizza-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#pasta-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#wine-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #008C45;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid white;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #F4F5F0;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: #F4F5F0;
  font-size: 2em;
}
